@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* {
  font-family: 'Roboto', sans-serif;
  line-height:1.2;
  vertical-align:middle;
}

.login-box {
  max-width: 420px;
  margin: 15% auto;
}

.login-box > form  > * {
  max-width: 100%;
  margin-bottom: 15px;
}

.login-box > form > *:last-child {
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.profile h2.name i {
  line-height: 1.1
}

.profile .profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: #ccc;

  display: table-cell;
  vertical-align: center;
  text-align: center;
}

.profile .profile-photo > i.fa-user {
  font-size: 8em;
}

.profile .profile-data .form-group {
  margin-bottom: 5px;
}

.profile-card .profile-field {
  padding-left: 10px;
  margin: 2px 0;
}

.profile-card .profile-field i.fa {
  line-height: 19px;
  min-width: 15px;
  text-align: right;
  margin-right: 3px;
}

.member-list .member-data {
  margin-left: 10px;
}

.member-list .member-data i.fa {
  margin-right: 5px
}