	<div class="member-list">
	<div class="input-group">
	  <span class="input-group-addon"><i class="fa fa-search"></i></span>
	  <input type="text" class="form-control" placeholder="Buscar" ng-model="memberSearch">
	</div>
	<hr>
	<div class="list-group">
		<div class="col-md-4 col-sm-6">
		  <a href="#" class="list-group-item">
			<h4><i class="fa fa-user fa-fw"></i>Juan Jose Herrero Barbosa</h4>
			<div class="member-data">
				<div><i class="fa fa-quote-left fa-fw"></i>Barbosa</div>
				<div><i class="fa fa-envelope fa-fw"></i>soulerhyd@gmail.com</div>
				<div><i class="fa fa-phone fa-fw"></i>609171537</div>
				<div><i class="fa fa-clock-o fa-fw"></i>hasta 11-12-2015</div>
			</div>
		  </a>
		</div>
	</div>
</div>